body {
  max-width: 940px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
}

a {
  color: #007eb6;
}

div {
  padding: 1rem;
  background-color: #fff;
}

img {
  max-width: 200px;
}

input,
textarea {
  font-size: 1rem;
  display: block;
  margin: 1rem;
  width: 90%;
  padding: 0.5rem;
  font-family: inherit;
}

label {
  margin: 1rem;
  padding: 0.5rem;
}

button {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 1rem;
  background: #007eb6;
  border: none;
  border-radius: 3px;
}

.delete {
  background: unset;
  margin: unset;
  border: none;
  padding: 0;
  color: #007eb6;
  cursor: pointer;
}
